<!-- Footer -->
<!-- End Footer -->
<div id="footr">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xs-12">
          <div class="footer-logo"><a href="index.html"><img src="assets/images/Wingotrends.png" alt="fotter logo" alt="fotter logo"></a> </div>
          <p class="footerInfo">Affordable Online Shopping at Your Fingertips.You can take your time and look at different options to find
            exactly what you want. It's easy to compare prices online and find exactly what you are looking for. Even if
            you want to shop for cool gifts for your friends and family, there are many options that you can find on the
            Internet.</p>
          <div class="social">
            <ul class="inline-mode">
              <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com/"><i class="fa fa-google"></i></a></li>
              <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li class="social-network linkedin"><a title="Connect us on Pinterest" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
              <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Links<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
            <div class="tabBlock" id="TabBlock-1">
              <ul class="list-links list-unstyled">
                <li><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
                <li><a routerLink="/terms-condition" routerLinkActive="active">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Insider<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
            <div class="tabBlock" id="TabBlock-3">
              <ul class="list-links list-unstyled">
                <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
            <div class="tabBlock" id="TabBlock-4">
              <ul class="list-links list-unstyled">
                <li><a routerLink="/login" routerLinkActive="active">Account</a></li>
                <!-- <li><a href="wishlist.html">Wishlist</a></li> -->
                <!-- <li><a routerLink="/my_cart" routerLinkActive="active">Shopping Cart</a></li> -->
                <li><a routerLink="/return-policy" routerLinkActive="active">Return Policy</a></li>
                <li><a routerLink="/refund-policy" routerLinkActive="active"> Refund Policy</a></li>
                <li><a routerLink="/shipping-policy" routerLinkActive="active"> Shipping Policy</a></li>
                <!-- <li><a href="#">Special</a></li>
                <li><a href="#">Lookbook</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Address<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
            <div class="tabBlock" id="TabBlock-5">

              <div >Wingotrends Seller Services, Nos. 7972050414, plot no. 34, Aradhana nagar, bidgao,<br>
                 tah –kamptee,<br>
                dist – Nagpur, 441001.
              </div>
              <div class="payment">
                <ul>
                  <li><a href="#"><img title="Visa" alt="Visa" src="assets/images/visa.png"></a></li>
                  <li><a href="#"><img title="Paypal" alt="Paypal" src="assets/images/paypal.png"></a></li>
                  <li><a href="#"><img title="Discover" alt="Discover" src="assets/images/discover.png"></a></li>
                  <li><a href="#"><img title="Master Card" alt="Master Card" src="assets/images/master-card.png"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 coppyright" >
            <a href="https://www.oceansofttech.net/" target="blank"> Designed & Develop By Ocean Software Technologies</a> 
          </div>
          <div class="col-sm-6 col-xs-12">
            <ul class="footer-company-links">
              <li> <a routerLink="about">About WingoTrend</a> </li>
              <li> <a href="#">Careers</a> </li>
              <li> <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
