<section class="main-container col1-layout" style="padding-top: 224px;">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-12">
                <div id="contact" class="page-content page-contact">
                    <div class="page-title">
                        <h2>Contact Us</h2>
                    </div>
                    <!-- <div id="message-box-conact">We're available for new projects</div> -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-4" id="contact_form_map">
                            <!-- <h3 class="page-subheading">Let's get in touch</h3>
                <p>Lorem ipsum dolor sit amet onsectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget. Mauris tincidunt aliquam lectus sed vestibulum. Vestibulum bibendum suscipit mattis.</p>
                <br> -->
                            <!-- <ul>
                  <li><i class="fa fa-circle"></i> Praesent nec tincidunt turpis.</li>
                  <li><i class="fa fa-circle"></i> Aliquam et nisi risus.&nbsp;Cras ut varius ante.</li>
                  <li><i class="fa fa-circle"></i> Ut congue gravida dolor, vitae viverra dolor.</li>
                </ul> -->
                            <br>
                            <!-- <ul class="store_info">
                  <li><i class="fa fa-home"></i>7064 Lorem Ipsum Vestibulum 666/13</li>
                  <li><i class="fa fa-phone"></i><span>+ 012 315 678 1234</span></li>
                  <li><i class="fa fa-print"></i><span>+39 0035 356 765</span></li>
                  <li><i class="fa fa-envelope"></i>Email: <span><a href="mailto:support@justTemplate.com">support@justTemplatevalley.com</a></span></li>
                </ul> -->
                            <div class="store_info">
                                <div class="cw-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <div class="ci-text">
                                        <span><b>Address:</b></span>
                                        <p>Wingotrends Seller Services, Nos. 7972050414, plot no. 34, Aradhana nagar, bidgao, tah –kamptee, dist – Nagpur, 441001.</p>
                                    </div>
                                </div>
                                <div class="cw-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                    </div>
                                    <div class="ci-text">
                                        <span><b>Phone:</b></span>
                                        <p>+ 7972050414</p>
                                    </div>
                                </div>
                                <div class="cw-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="ci-text">
                                        <span><b>Phone:</b></span>
                                        <p>+917972050414</p>
                                    </div>
                                </div>
                                <div class="cw-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <div class="ci-text">
                                        <span><b>Email:</b></span>
                                        <p>akashkhante12007@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="page-subheading">Make an enquiry</h3>
                            <div class="contact-form-box">
                                <div class="form-selector">
                                    <label>Name</label>
                                    <input type="text" class="form-control input-sm" id="name">
                                </div>
                                <div class="form-selector">
                                    <label>Email</label>
                                    <input type="text" class="form-control input-sm" id="email">
                                </div>
                                <div class="form-selector">
                                    <label>Phone</label>
                                    <input type="text" class="form-control input-sm" id="phone">
                                </div>
                                <div class="form-selector">
                                    <label>Message</label>
                                    <textarea class="form-control input-sm" rows="10" id="message"
                                        style="height: 200px;"></textarea>
                                </div>
                                <div class="form-selector">
                                    <button class="button"><i class="icon-paper-plane icons"></i>&nbsp; <span>Send
                                            Message</span></button>
                                    &nbsp; <a href="#" class="button">Clear</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>