b,h3{
    color: black;
}

@media screen and (max-width: 768px) {
    .breadcrumbs
    {
     margin-top: 100px;
    }
 }
 @media screen and (max-width: 576px) {
     .breadcrumbs
     {
      margin-top: 100px;
     }
 }