<div class="breadcrumbs" style="padding-top: 219px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&raquo;</span></li>
                    <li><strong>Return</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="compare-list">
                <div class="page-title">
                    <h2>Return Policy</h2>
                </div>
                <div class="table-responsive">
                    <div class="help-service-content">
                        <div class="help-content">
                            <p>
                                <b>Disclaimer:</b> In the event of any discrepancy or conflict, the English version will
                                prevail over the translation.
                                Most items purchased from sellers listed on <b>wingotrends</b>.com are returnable within
                                the return window, except those that are explicitly identified as not returnable.
                                For the products that are returned by the customer, the refund is issued to the original
                                payment method (in case of pre-paid transactions) or to the bank account / as
                                wingotrends Pay balance (in case of Pay on Delivery orders), the details for making such
                                refund and the timelines are detailed in the refund policy available here.
                            </p>
                            <h3>General Returns Policy</h3>
                            <p>
                                1. Applicable products are returnable within the applicable return window if you’ve
                                received them in a condition that is physically damaged, has missing parts or
                                accessories, defective or different from their description on the product detail page on
                                wingotrends.com.
                                <br>2. If you report an issue with your Smartphone, Tablet, Laptop, Television, Air
                                Conditioner, Refrigerator, Washing Machine, Microwave, we may facilitate scheduling a
                                technician visit to your location. This visit is scheduled by placing an order with
                                wingotrends through wingotrends Home Services. Subject to wingotrends.com Home Services
                                Terms and Conditions, a resolution will be provided based on the technician's evaluation
                                report.
                                <br>3. Return will be processed only if:
                                <br>• it is determined that the product was not damaged while in your possession;
                                <br>• the product is not different from what was shipped to you;
                                <br>• the product is returned in original condition (with brand’s/manufacturer's box,
                                MRP tag intact, user manual, warranty card ( if required) and all the accessories
                                therein).
                                <br>4. If you wish to return an electronic device that stores any personal information,
                                please ensure that you have removed all such personal information from the device prior
                                to returning. <b>Wingotrends</b> shall not be liable in any manner for any misuse or
                                usage of such information.
                                <br>5. Products may not be eligible for return in some cases, including cases of buyer's
                                remorse such as incorrect model or colour of product ordered or incorrect product
                                ordered.
                                <br>6. Products marked as "non-returnable" on the product detail page cannot be
                                returned. However, in an unlikely event of damaged, defective or wrong item delivered to
                                you, we will provide a full refund or replacement, as applicable. We may contact you to
                                ascertain the damage or defect in the product prior to issuing refund/replacement. We
                                reserve the right to pick up the product to ascertain the damage or defect in the
                                product prior to issuing refund/replacement.
                                <br>7. No additional information is required to return an eligible order unless
                                otherwise noted in the category specific policy.
                                <br>8. Products may be eligible for replacement only if the same seller has the exact
                                same item in stock.
                                <br>9. If the replacement request is placed and the seller does not have the exact same
                                product in stock, a refund would be issued to you.
                                <br>10. Products purchased by international customers are not eligible for returns.
                                However, orders made by international customers are eligible for refunds.
                                <br>11. In the event customers are found to misuse the return policy by excessively
                                returning, or cancelling or not accepting the orders placed, <b>wingotrends </b>reserves
                                the right to warn and/or suspend and/or block and/or terminate such customer accounts,
                                as necessary.
                                <br><b>Note:</b> If you've received a non-returnable product in a damaged/defective
                                condition, you can contact us within 10 days from the delivery of the product.
                            </p>


                            <h3>Beauty, Health, and Groceries</h3>
                            <table border="10px" bordercolor="black">
                                <tr>
                                    <th><b>Category</b></th>
                                    <th><b>Return Policy</b></th>
                                </tr>
                                <tr>
                                    <td>Beauty</td>
                                    <td><b>Non Returnable </b><br>
                                        This item is non-returnable due to hygiene and personal care nature of the
                                        product.
                                        However, in the unlikely event of damaged, defective or different item delivered
                                        to you, we will provide a full refund or free replacement as applicable.
                                        We may contact you to ascertain the damage or defect in the product prior to
                                        issuing refund/replacement. We reserve the right to pick up the product to
                                        ascertain the damage or defect in the product prior to issuing
                                        refund/replacement.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sports Nutrition (Whey Protein Powders and related Diet Supplements).</td>
                                    <td><b>10 Days Returnable</b><br>
                                        This item is eligible for free replacement, within 10 days of delivery, in an
                                        unlikely event of damaged, defective or different item delivered to you. You can
                                        also return the product within 10 days of delivery for full refund.
                                        Please keep the item in its original condition, with outer box or case, user
                                        manual, warranty cards, and other accompaniments in manufacturer packaging for a
                                        successful return pick-up. We may contact you to ascertain the damage or defect
                                        in the product prior to issuing refund/replacement.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mobility and Disability Aids, Joint Supports, Wheelchairs etc.</td>
                                    <td><b>10 Days Returnable </b><br>
                                        This item is eligible for free replacement, within 10 days of delivery, in an
                                        unlikely event of damaged, defective or different item delivered to you. You can
                                        also return the product within 10 days of delivery for full refund.
                                        Please keep the item in its original condition, with outer box or case, user
                                        manual, warranty cards, and other accompaniments in manufacturer packaging for a
                                        successful return pick-up. We may contact you to ascertain the damage or defect
                                        in the product prior to issuing refund/replacement.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Household Supplies: Laundry Products (Detergents, Fabric Conditioners),
                                        Household Cleaners (Toilet Cleaners, Floor Cleaners, Hand washes, Tissues), Air
                                        Fresheners (Sprays, Gels) etc.
                                        Personal Care: Oral Care (Toothbrushes, toothpastes, mouthwashes etc); Feminine
                                        Hygiene (Sanitary Pads, Panty Liners, Menstrual Cups etc.); Shaving and Hair
                                        Removal (Men’s Shaving – Razors, Blades, Shaving Foams, Brushes etc.; Men’s
                                        Beard Care – Beard Oil, Beard Serum etc.; Women’s Hair Removal – Wax Strips,
                                        Creams, Razors etc)
                                        Family Nutrition: (Infant Baby Food, Toddlers’ and Kids’ Health Drinks)
                                        Vitamin and Mineral Supplements: (Core Letter Vitamins, Multi-Vitamins)
                                        Contact Lenses and Related Products
                                        Health Care Products: Ayurveda Products, Pain Relief Products, Herbal
                                        Supplements, Medical Supplies, Adult Diapers
                                    </td>
                                    <td><b>Non Returnable</b><br>
                                        This item is non-returnable due to hygiene and consumable nature of the product.
                                        However, in the unlikely event of damaged, defective or different item delivered
                                        to you, we will provide a full refund or free replacement as applicable.
                                        We may contact you to ascertain the damage or defect in the product prior to
                                        issuing refund/replacement. We reserve the right to pick up the product to
                                        ascertain the damage or defect in the product prior to issuing
                                        refund/replacement.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Medicines</td>
                                    <td><b>Non Returnable</b><br>
                                        This item is non-returnable due to hygiene and consumable nature of the product.
                                        However, in the unlikely event of damaged, defective or different item delivered
                                        to you, we will provide a full refund or free replacement as applicable. We may
                                        contact you to ascertain the damage or defect in the product prior to issuing
                                        refund/replacement. We reserve the right to pick up the product to ascertain the
                                        damage or defect in the product prior to issuing refund/replacement.
                                        In the event your order is rejected, a refund will be issued per wingotrends.com
                                        return policy.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Personal Care Appliances: Shavers, Trimmers, Hair Dryers, Straighteners; Skin
                                        care, Nail care, Medical equipment</td>
                                    <td><b>7 Days Replacement only</b><br>
                                        This item is eligible for free replacement, within 7 days of delivery, in an
                                        unlikely event of damaged, defective or different item delivered to you.
                                        Please keep the item in its original condition, with outer box or case, user
                                        manual, warranty cards, and other accompaniments in manufacturer packaging for a
                                        successful return pick-up.
                                        We may contact you to ascertain the damage or defect in the product prior to
                                        issuing refund/replacement.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Personal Care Appliances: Oral Care Products and Appliances</td>
                                    <td><b>Non Returnable</b><br>
                                        This item is non-returnable due to hygiene/health and personal
                                        care/wellness/consumable nature of the product. However, in the unlikely event
                                        of damaged, defective or different item delivered to you, we will provide a full
                                        refund or free replacement as applicable.
                                        We may contact you to ascertain the damage or defect in the product prior to
                                        issuing refund/replacement. We reserve the right to pick up the product to
                                        ascertain the damage or defect in the product prior to issuing
                                        refund/replacement.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Grocery & Gourmet</td>
                                    <td><b>Non Returnable</b><br>
                                        This item is non-returnable due to consumable nature of the product. However, in
                                        the unlikely event of damaged, defective or different item delivered to you, we
                                        will provide a full refund or free replacement as applicable.
                                        We may contact you to ascertain the damage or defect in the product prior to
                                        issuing refund/replacement. We reserve the right to pick up the product to
                                        ascertain the damage or defect in the product prior to issuing
                                        refund/replacement.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pantry</td>
                                    <td><b>Non Returnable</b><br>
                                        This item is non-returnable due to consumable/hygiene/wellness nature of the
                                        product. However, in the unlikely event of damaged, defective or different item
                                        delivered to you, we will provide a full refund or free replacement as
                                        applicable.
                                        We may contact you to ascertain the damage or defect in the product prior to
                                        issuing refund/replacement. We reserve the right to pick up the product to
                                        ascertain the damage or defect in the product prior to issuing
                                        refund/replacement.
                                    </td>
                                </tr>
                            </table>

                            <h3>Seller Fulfilled Items</h3>
                            <p>Return policies that are exclusively Seller Fulfilled are listed below. For all other
                                categories, the return policies mentioned above apply.</p>

                            <h3>Returns and Replacements - FAQ</h3>
                            <p>Frequently asked questions about returns and replacements</p>
                            <hr>
                            <h3>What can I return?</h3>
                            <p>
                                You may request returns for most items you buy from the sellers listed on <a
                                    href="http://www.wingotrends.com">www.wingotrends.com</a>. However, you can only
                                return items explicitly identified as "returnable" on the product detail page and/or our
                                policy and within the ‘return window’ period. Please refer to the www.wingotrends.com
                                return policy. Know which categories are "non-returnable" and the specific return
                                windows for categories eligible for return.
                                Items are returnable if you've received them in a condition that is -
                                <br>• Physically damaged
                                <br>• Has missing parts or accessories
                                <br>• Defective
                                <br>• Different from its description on the product detail page on wingotrends.com.
                                <br>• You no longer want the item (return applicable only for eligible items)
                            </p>
                            <h3>How to return items?</h3>
                            <p>
                                1. Go to Your Orders. (ensure you have signed in before)
                                <br>2. Choose an item that you want to return or replace.
                                <br>3. Select a reason from menu and continue.
                                <br>For seller-fulfilled orders, you need to contact the seller to initiate returns. To
                                do so -
                                <br>1. Go to Your Orders.
                                <br>2. Choose an item that you want to return or replace.
                                <br>3. Select Contact seller. You will be directed to the Seller Messaging Assistant.
                                <br>4. Select the appropriate option and start the conversation.
                                <br>Go to <a>Your Orders</a> to initiate a return.
                                <br><b>Note:</b> The above process is applicable only if the product is returnable and
                                the return window is still active.
                                <br>If you need to contact the seller, this must be done in line with our return policy
                                mentioned in wingotrends return policy. If a seller fails to address your query in three
                                business days, the wingotrends <a>A-to-z Guarantee</a> is available to you.

                            </p>
                            <h3>What are the return guidelines?</h3>
                            <p>
                                Following are the return guidelines:
                                <br>1. Your address and the item that you wish to return must be eligible for return.
                                <br>2. If the return is not eligible for Pickup, a Self-Return option will be given.
                                Once the return is received, you will, in accordance with wingotrends.com return policy.
                                be issued a refund to your original payment method.
                                <br>For Pay on Delivery orders, refunds will be processed either to your bank account
                                (via National Electronic Funds Transfer (NEFT)).

                            </p>
                            <h3>How can I return a Gift?</h3>
                            <p>
                                To initiate return, please visit the <a>Gift Returns</a> option. Enter the order number.
                                <br>Detailed guidance on return process can be found <a>here</a>.
                                <br>For items eligible for refund as per return policy. For guidance on returning a gift
                                item using a gift receipt, please see <a>Gift Receipts</a>.
                                <br>For certain items with replacement only policy (Smartphone’s, TV, Refrigerators,
                                Washing machine, Laptops etc.), you can get a replacement after verification of the
                                issue.
                            </p>
                            <h3>Can my order be replaced?</h3>
                            <p>
                                If the item you ordered arrived in a physically damaged/ defective condition or is
                                different from their description on the product detail page, or has missing parts or
                                accessories, it will be eligible for a free replacement as long as the exact item is
                                available with the same seller.
                            </p>
                            <h3>I want the replacement to a different address.</h3>
                            <p>
                                If you'd like to get the replacement item to a different address, we recommend that you
                                return the item for a refund and place a new order to the updated address.
                                For information about replacement policy, see wingotrends.com return policy.
                                <b>Have questions on refund, see</b><a> Refunds.</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>