<div class="breadcrumbs" style="padding-top: 219px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&raquo;</span></li>
                    <li><strong>privacy</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container --> 
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="compare-list">
                <div class="page-title">
                    <h2>Privacy Policy</h2>
                </div>
                <div class="table-responsive">
                    <div class="help-service-content">
                        <div class="help-content">
                            <!-- <p><strong>Disclaimer:</strong> In the event of any discrepancy or conflict, the English
                                version will prevail over the translation.</p> -->
                            <div>
                                <p>
                                    <b style="color:black">Disclaimer:</b> In the event of any discrepancy or conflict, the English version 
                                    will prevail over the translation.
                                </p>
                                <p>
                                   <b style="color:black"> Last updated: January 05, 2023. </b><br>
We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This Privacy Notice describes how wingotrends and its affiliates including www.wingotrends.com collect and process your personal information through our websites, devices, products, services, online marketplace and applications that reference this Privacy Notice .
By using wingotrends Services you agree to our use of your personal information (including sensitive personal information) in accordance with this Privacy Notice, as may be amended from time to time by us at our discretion. You also agree and consent to us collecting, storing, processing, transferring, and sharing your personal information (including sensitive personal information) with third parties or service providers for the purposes set out in this Privacy Notice.
Personal information subject to this Privacy Notice will be collected and retained by ShreeTirupati Enterprises, with a registered office at plot no. 34, Aradhana nagar, bidgao, tah –kamptee, dist – Nagpur, 441001.

<br>•	What Personal Information about Customers Does wingotrends Collect?
<br>•	For What Purposes Does Wingotrends Use Your Personal Information?
<br>•	What about Cookies and Other Identifiers?
<br>•	Does Wingotrends Share Your Personal Information?
<br>•	How Secure is Information about Me?
<br>•	What about Advertising?
<br>•	What Information can I Access?
<br>•	What Choices Do I Have?
<br>•	Are Children Allowed to Use Wingotrends Services?
<br>•	Conditions of Use, Notices, and Revisions
<br>•	Related Practices and Information
<br>•	Examples of Information Collected<br>
</p>
<h3 style="color: black;">What Personal Information About Customers Does Wingotrends Collect?</h3>
<p>
    We collect your personal information in order to provide and continually improve our products and services.
<br><br>Here are the types of personal information we collect:
<br><br><b style="color: black;">Information You Give Us:</b> We receive and store any information you provide in relation to Wingotrends Services. Click <a href="">here</a> to see examples of what we collect. You can choose not to provide certain information, but then you might not be able to take advantage of many of our Wingotrends Services.
<br><br><b style="color: black;">Automatic Information:</b> We automatically collect and store certain types of information about your use of Wingotrends Services, including information about your interaction with content and services available through Wingotrends Services. Like many websites, we use cookies and other unique identifiers, and we obtain certain types of information when your web browser or device accesses Wingotrends Services and other content served by or on behalf of Wingotrends on other websites. Click here to see examples of what we collect.
<br><br><b style="color: black;">Information from Other Sources:</b> We might receive information about you from other sources, such as updated delivery and address information from our carriers, which we use to correct our records and deliver your next purchase more easily. Click here to see additional examples of the information we receive
</p>
<h3 style="color:black">Does Wingotrends Share Your Personal Information?</h3>
                   <p>
                    Information about our customers is an important part of our business and we are not in the business of selling our customers’ personal information to others. We share customers’ personal information only as described below and with Wingotrends.com, Inc. and subsidiaries that Wingotrends.com, Inc. controls that either are subject to this Privacy Notice or follow practices at least as protective as those described in this Privacy Notice.
<br><br><b style="color:black">•	Transactions involving Third Parties:</b> We make available to you services, products, applications, or skills provided by third parties for use on or through Wingotrends Services. For example, the products you order through our marketplace are from third parties, you can download applications from third-party application providers from our App Store, and enable third-party skills through our Wingotrends representative Julie services. We also offer services or sell product lines jointly with third-party businesses, such as sellers on the marketplace, restaurants registered on Www.wingotrends.com, merchants providing mobile recharges and bill-payment assistance. You can tell when a third party is involved in your transactions, and we share customers’ personal information related to those transactions with that third party.
<br><br><b style="color:black">•	Third-Party Service Providers:</b> We employ other companies and individuals to perform functions on our behalf. Examples include fulfilling orders for products or services, delivering packages, sending postal mail and e-mail, removing repetitive information from customer lists, analyzing data, providing marketing assistance, providing search results and links (including paid listings and links), processing payments, transmitting content, scoring, assessing and managing credit risk, and providing customer service. These third-party service providers have access to personal information needed to perform their functions, but may not use it for other purposes. Further, they must process the personal information in accordance with applicable law.
<br><br><b style="color:black">•	Business Transfers:</b> As we continue to develop our business, we might sell or buy other businesses or services. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise). Also, in the unlikely event that Wingotrends.com, Inc. or Wingotrends Seller Services Private Limited or any of its affiliates, or substantially all of their assets are acquired, customer information will of course be one of the transferred assets.
<br><br><b style="color:black">•	Protection of Wingotrends and Others:</b> We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Conditions of Use and other agreements; or protect the rights, property, or safety of Wingotrends, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.
Other than as set out above, you will receive notice when personal information about you might be shared with third parties, and you will have an opportunity to choose not to share the information.

                   </p>  
                   
                   <h3 style="color: black;">How Secure Is Information About Me?</h3>
                <p>
                    We design our systems with your security and privacy in mind.
<br>•	We work to protect the security of your personal information during transmission by using encryption protocols and software.
<br>•	We follow the Payment Card Industry Data Security Standard (PCI DSS) when handling payment card data.
<br>•	We maintain physical, electronic, and procedural safeguards in connection with the collection, storage, processing, and disclosure of personal customer information. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you.
<br>•	Our devices offer security features to protect them against unauthorized access and loss of data. You can control these features and configure them based on your needs. Click here for more information on how to manage the security settings of your device.
<br>•	It is important for you to protect against unauthorized access to your password and to your computers, devices and applications. Be sure to sign off when finished using a shared computer. Click here for more information on how to sign off.
</p>
<h3 style="color: black;">What about Advertising?</h3>
                                <p><b style="color: black;">Third-Party Advertisers and Links to Other Websites:</b> Wingotrends Services may include third-party advertising and links to other websites and apps. Third-party advertising partners may collect information about you when you interact with their content, advertising, and services. For more information about third-party advertising at Wingotrends, including interest-based ads, please read our <a>Interest-Based Ads policy</a>. To adjust your advertising preferences, please go to the <a>Advertising Preferences</a> page.
                                    <br><br><b style="color: black;">Use of Third-Party Advertising Services:</b> We provide ad companies with information that allows them to serve you with more useful and relevant Wingotrends ads and to measure their effectiveness. We never share your name or other information that directly identifies you when we do this. Instead, we use an advertising identifier like a cookie, a device identifier, or a code derived from applying irreversible cryptography to other information like an email address. For example, if you have already downloaded one of our apps, we will share your advertising identifier and data about that event so that you will not be served an ad to download the app again. Some ad companies also use this information to serve you relevant ads from other advertisers. You can learn more about how to opt-out of interest-based advertising by going to the <a>Advertising Preferences</a> page.
                                </p>
                                <h3 style="color: black;">For What Purposes Does Wingotrends Use Your Personal Information?</h3>
                                <p>We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:
                                    <br><b style="color: black;">•	Purchase and delivery of products and services.</b> We use your personal information to take and fulfil orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.
                                    <br><b style="color: black;"> •	Provide, troubleshoot, and improve Wingotrends Services.</b> We use your personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of the Wingotrends Services.
                                    <br><b style="color: black;">•	Recommendations and personalization.</b> We use your personal information to recommend features, products, and services that might be of interest to you, identify your preferences, and personalize your experience with Wingotrends Services.
                                    <br><b style="color: black;">•	Provide voice, image and camera services.</b> When you use our voice, image and camera services, we use your voice input, images, videos, and other personal information to respond to your requests, provide the requested service to you, and improve our services. For more information about Wingotrends representative Julie voice services, click <a>here.</a>
                                    <br><b style="color: black;">•	Comply with legal obligations.</b> In certain cases, we collect and use your personal information to comply with laws. For instance, we collect from sellers information regarding place of establishment and bank account information for identity verification and other purposes.
                                    <br><b style="color: black;">•	Communicate with you.</b> We use your personal information to communicate with you in relation to Wingotrends Services via different channels (e.g., by phone, e-mail, chat).
                                    <br> <b style="color: black;">•	Advertising.</b> We use your personal information to display interest-based ads for features, products, and services that might be of interest to you. We do not use information that personally identifies you to display interest-based ads. To learn more, please read our <a>Interest-Based Ads</a> notice.
                                    <br><b style="color: black;"> •	Fraud Prevention and Credit Risks.</b> We use personal information to prevent and detect fraud and abuse in order to protect the security of our customers, Wingotrends, and others. We may also use scoring methods to assess and manage credit risks.
                                    </p>
                                    <h3 style="color: black;">What About Cookies and Other Identifiers?</h3>
                                    <p>
                                        •	To enable our systems to recognize your browser or device and to provide and improve Wingotrends Services, we use cookies and other identifiers. For more information about cookies and how we use them, please read our<a>Cookies Notice</a>.
                                    </p>
                                    <h3 style="color: black;">  What Information Can I Access?</h3>
                                    <p>You can access your information, including your name, address, payment options, profile information, Prime membership, household settings, and purchase history in the "Your Account" section of the website or mobile application. Click here for a list of examples that you can access. To request access to personal information that is not available through Your Account you can submit a request <a>here</a>.</p>
                                    <h3 style="color: black;">What Choices Do I Have?</h3>
                                    <p>
                                        If you have any questions as to how we collect and use your personal information, please contact our <a>Grievance Officer</a>. Many of our Wingotrends Services also include settings that provide you with options as to how your information is being used
<br>•	As described above, you can always choose not to provide certain information, but then you might not be able to take advantage of many of the Wingotrends Services.
<br>•	You can add or update certain information on pages such as those referenced in<a> What Information Can I Access?</a>. When you update information, we usually keep a copy of the prior version for our records
<br>•	If you do not want to receive e-mail or other communications from us, please adjust your <a>Customer Communication Preferences</a>. If you don’t want to receive in-app notifications from us, please adjust your notification settings in the app or device
<br>•	If you do not want to see interest-based ads, please adjust your <a>Advertising Preferences</a>.
<br>•	The Help feature on most browsers and devices will tell you how to prevent your browser or device from accepting new cookies or other identifiers, how to have the browser notify you when you receive a new cookie or how to block cookies altogether. Because cookies and identifiers allow you to take advantage of some essential features of Wingotrends Services, we recommend that you leave them turned on. For instance, if you block or otherwise reject our cookies, you will not be able to add items to your Shopping Cart, proceed to Checkout, or use any Services that require you to Sign in. For more information about cookies and other identifiers, see our <a>Cookies Notice</a>.
<br>•	If you want to browse our websites without linking the browsing history to your account, you may do so by logging out of your account <a>here</a> and blocking cookies on your browser.
<br>•	You will also be able to opt out of certain other types of data usage by updating your settings on the applicable Wingotrends website (e.g., in "Manage Your Content and Devices"), device, or application. For more information click <a>here</a>. Most non-Wingotrends devices also provide users with the ability to change device permissions (e.g., disable/access location services, contacts). For most devices, these controls are located in the device's settings menu. If you have questions about how to change your device permissions on devices manufactured by third parties, we recommend you contact your mobile service carrier or your device manufacturer.
<br>•	If you are a seller, you can add or update certain information in <a>Seller Central</a> , update your account information by accessing your <a>Seller Account Information</a>, and adjust your e-mail or other communications you receive from us by updating your <a>Notification Preferences</a>.

                                    </p>
                                    <h3 style="color:black">Are Children Allowed to Use Wingotrends Services?</h3>
                                    <p>Wingotrends does not sell products for purchase by children. We sell children's products for purchase by adults. If you are under the age of 18 years, you may use Wingotrends Services only with the involvement of a parent or guardian.</p>
                                <h3 style="color: black;">Conditions of Use, Notices, and Revisions</h3>
                                <p>If you choose to use Wingotrends Services, your use and any dispute over privacy is subject to this Notice and our Conditions of Use, including limitations on damages, resolution of disputes, and application of the prevailing law in India. If you have any concern about privacy at Wingotrends, please contact us with a thorough description, and we will try to resolve it. Our business changes constantly, and our Privacy Notice will change also. You should check our websites frequently to see recent changes.
                                    <br><br>Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.
                                    </p>
                                    <h3 style="color: black;">Related Practices and Information</h3>
                                    <p>
                                        <br>•<a>Conditions of Use</a>
                                        <br>•<a>Seller Program Policies</a>
                                        <br>•<a>Help Department</a>
                                        <br>•<a>Most Recent Purchases</a>
                                        <br>•<a>Your Profile and Community Guidelines</a>
                                    </p>
                                    <h3 style="color:black">Examples of Information Collected</h3>
                                    <p>
                                       <b style="color:black"> Information You Give Us When You Use Wingotrends Services</b><br>
You provide information to us when you:
<br>•	search or shop for products or services in our marketplace;
<br>•	add or remove an item from your cart, or place an order through or use Wingotrends Services;
<br>•	download, stream, view, or use content on a device or through a service or application on a device;
<br>•	provide information in <a>Your Account</a> (and you might have more than one if you have used  more than one e-mail address or mobile number when shopping with us) or <a>Your Profile</a>;
<br>•	talk to or otherwise interact with our Wingotrends representative Julie Voice service;
<br>•	upload your contacts, including access to mobile device contacts for certain services;
<br>•	configure your settings on, provide data access permissions for, or interact with an Wingotrends device or service;
<br>•	provide information in your Seller Account, Restaurant Central Account, Service Provider Account, or any other account we make available that allows you to develop or offer software, goods, or services to Wingotrends customers;
<br>•	offer your products or services on or through Wingotrends Services;
<br>•	communicate with us by phone, e-mail, or otherwise;
<br>•	complete a questionnaire, a support ticket, or a contest entry form;
<br>•	upload or stream images, videos or audio or other files while using Wingotrends Services;
<br>•	use our services such as Prime Video;
<br>•	compile Playlists, Watchlists, <a>Wish Lists</a> or other gift registries;
<br>•	participate in Discussion Boards or other community features;
<br>•	provide and rate<a>Reviews</a>;
<br>•	specify a Special Occasion Reminder; or
<br>•	employ Product Availability Alerts, such as Available to Order Notifications.

<br><br><b style="color: black;">As a result of those actions, you might supply us with such information as:</b>
<br>•	identifying information such as your name, address and phone numbers;
<br>•	payment information;
<br>•	your age;
<br>•	your location information;
<br>•	your IP address;
<br>•	people, addresses and phone numbers listed in your Addresses;
<br>•	e-mail addresses of your friends and other people;
<br>•	content of reviews and e-mails to us;
<br>•	the personal description and photograph in <a>Your Profile</a>;
<br>•	voice recordings when you speak to Wingotrends representative Julie;
<br>•	images, videos and other content collected or stored in connection with Wingotrends Services;
<br>•	information and officially valid documents regarding identity and address information, including PAN numbers;
<br>•	credit history information;
<br>•	corporate and financial information; and
<br>•	Device log files and configurations, including Wi-Fi credentials, if you choose to automatically synchronize them with your other Wingotrends devices.
<br><b style="color: black;">Automatic Information</b>
<br>Examples of the information we collect and analyze include:
<br>•	the internet protocol (IP) address used to connect your computer to the internet;
<br>•	login, e-mail address, and password;
<br>•	the location of your device or computer;
<br>•	content interaction information, such as content downloads, streams, and playback details, including duration and number of simultaneous streams and downloads, and network details for streaming and download quality, including information about your internet service provider;
<br>•	device metrics such as when a device is in use, application usage, connectivity data, and any errors or event failures;
<br>•	Wingotrends Services metrics (e.g., the occurrences of technical errors, your interactions with service features and content, your settings preferences and backup information, location of your device running an application, information about uploaded images and files such as the file name, dates, times and location of your images);
<br>•	version and time zone settings;
<br>•	purchase and content use history, which we sometimes aggregate with similar information from other customers to create features like <a>Wingotrends Bestsellers</a>;
<br>•	the full Uniform Resource Locator (URL) click stream to, through, and from our websites, including date and time; products and content you viewed or searched for; page response times, download errors, length of visits to certain pages, and page interaction information (such as scrolling, clicks, and mouse-over’s);
<br>•	phone numbers used to call our customer service number; and
<br>•	Images or videos when you shop in our marketplace using Wingotrends Services.
<br>We may also use device identifiers, cookies, and other technologies on devices, applications, and our web pages to collect browsing, usage, or other technical information.
<br><b style="color: black;">Information from Other Sources</b>
<br>Examples of information we receive from other sources include:
<br>•	updated delivery and address information from our carriers or other third parties, which we use to correct our records and deliver your next purchase or communication more easily;
<br>•	account information, purchase or redemption information and page-view information from some merchants with which we operate co-branded businesses or for which we provide technical, fulfilment, advertising or other services;
<br>•	information about your interactions with products and services offered by our affiliates;
<br>•	search results and links, including paid listings (such as Sponsored Links);
<br>•	information about internet-connected devices and services linked with Wingotrends representative Julie; and
<br>•	Credit history information from credit bureaus, which we use to help prevent and detect fraud and to offer certain credit or financial services to some customers.
<br><b style="color: black;">Information You Can Access</b> 
<br>Examples of information you can access through Wingotrends Services include:
<br>•	status of recent orders (including subscriptions);
<br>•	your complete order history;
<br>•	personally identifiable information (including name, e-mail, password, and address book);
<br>•	payment settings (including payment method information, promotional certificate, and gift card balances and 1-Click settings);
<br>•	e-mail notification settings (including Product Availability Alerts, Delivers, Special Occasion Reminders and newsletters);
<br>•	recommendations and the products you recently viewed that are the basis for recommendations (including Recommended for You and Improve Your Recommendations);
<br>•	shopping lists and gift registries (including Wish Lists);
<br>•	your content, devices, services, and related settings, and communications and personalized advertising preferences;
<br>•	content that you recently viewed;
<br>•	voice recordings associated with your account;
<br>•	Your Profile (including your product Reviews, Recommendations, Reminders and personal profile);
<br>•	If you are a seller, you can access your account and other information, and adjust your communications preferences, by updating your account in www.wingotrends.com.
<br>•	If you are a restaurant, you can access your account and other information, and adjust your communication preferences, by updating your account in Restaurant Central;
<br>•	If you are a service provider listing on our Service Provider Network, you can access your account and other information, and adjust your communication preferences, by updating your account in Service Provider Central;
<br><b style="color: black;">Grievance Officer</b>
<br>Please find below the details of the grievance officer:
<br><b style="color: black;">Name:</b> Sangita Mohadarkar
<br><b style="color: black;">Designation:</b> Grievance officer
<br><b style="color: black;">e-mail PDF:</b> grievance-officer@Wingotrends.com
<br><b style="color: black;">Address:</b> Wingotrends Seller Services, Nos. 7972050414, plot no. 34, Aradhana nagar, bidgao, tah –kamptee, dist – Nagpur, 441001.
For details regarding grievance redressal mechanism, please visit our Conditions of Use available <a>here</a>.
<br><a style="color: black;">Click here</a> to report infringement.
<br><a style="color: black;">Click here</a> to report issues with orders, delivery or sellers.
<br><a style="color: black;">Click here</a> for customer support.
<br>The Grievance Officer is identified above pursuant to the provisions of applicable laws including but not limited to the Information Technology Act, 2000 and the Consumer Protection Act, 2019, and the Rules enacted under those laws.


                                    </p>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>