<div class="breadcrumbs" style="padding-top: 219px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&raquo;</span></li>
                    <li><strong>Refund</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="compare-list">
                <div class="page-title">
                    <h2>Refund Policy</h2>
                </div>
                <div class="table-responsive">
                    <div class="help-service-content">
                        <div class="help-content">

                            <h3>Refund against Cancellation: </h3>
                            <p>
                                1. Customers shall get Refund against Cancellation of order or any failed payment by way
                                of credit to the original mode of payment - Credit/Debit Card or UPI or Net Banking or
                                Third Party Wallet.<br>
                                2. No refund applicable for “No returns applicable products”, if denied at doorstep for
                                prepaid order.<br>
                                3. 0/- is applicable when customers return the product. The refund amount paid to the
                                customer will have a deduction of Rs. 30/- as a return fee. However, replacement of the
                                product and exchange of the product is provided free of cost.

                            </p>
                            <h3>Refund against Return:</h3>
                            <p>
                                • In case of Cash on Delivery (COD) orders, customers can choose to get their refund on
                                Return(s) through one of the below options. The refund shall be initiated within 5 days
                                from the date of return pickup.<br>
                                &nbsp; &nbsp;<b>o Bank Account</b><br>
                                &nbsp; &nbsp;<b>o Wingotrends Wallet</b>

                                <br>• The refund will be credited to the bank account entered by the customer at the
                                time of initiating the return request.
                                <br>• In case of transaction failure due to invalid bank account details, Wingotrends
                                reserves the right to refund the amount to the Wingotrends wallet of the customer.
                                <br>• Refund credited to the Wingotrends Wallet in the form of eGift Cards (issued by
                                Qwikcilver). The detailed terms and conditions of the wallet are provided here.
                                <br>• The refund will be credited to the bank account associated with the UPI ID entered
                                by the customer at the time of initiating the return request.
                                <br>• In case the payment is made by Credit/Debit Card, Net Banking or Third Party
                                Wallet, you may get the refund within 5-7 working days. Kindly note that there may be
                                delays in refunds as they're handled by the Bank.
                            </p>
                            <h3>Refund against denied/cancelled order :</h3>
                            <p>
                                • In case of online paid order, customers shall get a Refund against return by way of
                                credit to the original mode of payment, like Credit/Debit Card, or Net banking or Third
                                Party Wallet.<br>
                                • In case of a refund by way of Credit/Debit Card, or Net banking or Third Party Wallet,
                                you may get the credit within 5-7 working days.<br>
                                • While we regret any inconvenience caused by this time frame, as the refund is handled
                                by the Bank.<br>
                                • There may be a delay in refund timing and we have no control over that.
                            </p>



                            <h4>WARRANTY & GUARANTEE:</h4>
                            <p>
                                Warranty and Guarantee for the electronic appliances or any other products have specifically mentioned on the product page wherever is applicable.
                            </p>
                            <h4>DELIVERY & SHIPMENT TRACKER:</h4>
                            <p>
                                Estimated Delivery & Shipping Charges are calculated as per the value of the order and can be viewed in the cart section at the time of checkout.
                            </p>

                            <h3>Why is the COD option not offered in my location?</h3>
                            <p>
                                The availability of COD depends on the ability of our courier partner servicing your location to accept cash as payment at the time of delivery.<a> Refunds.</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>